/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Label{
	-fx-font-family: 'MS Mincho';
}
.big{
	-fx-font-size: 24px;
}
GridPane{
	-fx-background-color:red;
}